open class {{layoutName}}({{layoutConstructorArgs}}): {{#fq}}{{baseClassName}}{{/fq}}({{baseClassConstructorArgs}}) {
{{#lparamsFunctions}}
    fun <T: {{#fq}}android.view.View{{/fq}}> T.lparams(
            {{#params}}{{this}},
            {{/params}}init: {{#fq}}{{layoutParamsClass}}{{/fq}}.() -> Unit = defaultInit
    ): T {
        val layoutParams = {{#fq}}{{layoutParamsClass}}{{/fq}}({{substituted}})
        layoutParams.init()
        this@lparams.layoutParams = layoutParams
        return this
    }

{{/lparamsFunctions}}
}

