open class {{name}}({{constructor}}): {{baseClass}}({{baseConstructor}}) {
{{#functions}}
    fun <T: View> T.lparams(
            {{#params}}{{this}},
            {{/params}}init: {{layoutParamsClass}}.() -> Unit = defaultInit
    ): T {
        val layoutParams = {{layoutParamsClass}}({{substituted}})
        layoutParams.init()
        this@lparams.layoutParams = layoutParams
        return this
    }

{{/functions}}
}

