inline fun {{receiver}}.{{functionName}}(theme: Int = 0): {{returnType}} = {{functionName}}(theme) {}
inline fun {{receiver}}.{{functionName}}(theme: Int = 0, {{additionalParams}}{{#additionalParams}}, {{/additionalParams}}init: {{lambdaArgType}}.() -> Unit): {{returnType}} {
    return ankoView({{factory}}, theme) { init() }
}

