<component name="ArtifactManager">
  <artifact name="Plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/Plugin</output-path>
    <root id="root">
      <element id="directory" name="lib">
        <element id="archive" name="dsl-preview-plugin.jar">
          <element id="module-output" name="idea-plugin" />
          <element id="module-output" name="attrs" />
          <element id="module-output" name="xml-converter" />
          <element id="file-copy" path="$PROJECT_DIR$/preview/attrs.json" />
          <element id="file-copy" path="$PROJECT_DIR$/preview/views.json" />
          <element id="module-output" name="intentions" />
        </element>
        <element id="library" level="project" name="asm" />
      </element>
    </root>
  </artifact>
</component>