public open class {{name}}({{constructor}}): {{baseClass}}({{baseConstructor}}) {
{{#functions}}
    public fun <T: View> T.layoutParams({{args}}{{#args}}, {{/args}}{{initArgumentName}}: {{layoutParamsClass}}.() -> Unit = defaultInit): T {
        val layoutParams = {{layoutParamsClass}}({{substituted}})
        layoutParams.{{initArgumentName}}()
        this@layoutParams.setLayoutParams(layoutParams)
        return this
    }

{{/functions}}
}
