public open class {{name}}({{constructor}}): {{baseClass}}({{baseConstructor}}) {
{{#functions}}
    public fun <T: View> T.layoutParams(
            {{#params}}{{this}},
            {{/params}}init: {{layoutParamsClass}}.() -> Unit = defaultInit
    ): T {
        val layoutParams = {{layoutParamsClass}}({{substituted}})
        layoutParams.init()
        this@layoutParams.layoutParams = layoutParams
        return this
    }

{{/functions}}
}

