inline fun {{receiver}}.{{functionName}}(): {{returnType}} = {{functionName}}({})
inline fun {{receiver}}.{{functionName}}({{additionalParams}}{{#additionalParams}}, {{/additionalParams}}init: {{lambdaArgType}}.() -> Unit): {{returnType}} {
    return ankoView({{factory}}) { init() }
}

